<div class="container">
    <h1 class="container__title">Buscador de series</h1>
    <div class="search__container">
        <input type="text" class="search__container--input">
        <button class="search__container--button">Search</button>
    </div>
    <div class="favs__container">
        <h2 class="favs__container--title">Mis series favoritas</h2>
        <ul class="favs__container--list"></ul>
    </div>
</div>
<div class="results__container">
    <ul class="results__container--list"></ul>
</div>