body {
    background: rgb(252, 244, 245);
}

.container {
    display: flex;
    flex-direction: column;
}

.item__img {
    height: 295px;
    width: 210px;
}

.favourites {
    background: palevioletred;
    color: whitesmoke;
}
